body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.userList{
	float: left;
	background: #F1f1f1;
	list-style: none;
	padding: 5px 10px;
	
}