extends layout

block content
  h1= title
  
  p Welcome to #{title}
  
  form.formLogin(name="helloFrom" method='get', action='/login')
    input(type='text', placeholder="username", name='username')
    input(type='password', placeholder="password", name='password')
    input(type='submit') 